/*
 * -------------------------------------------------
 *  Nextflow config file for adding new modules
 * -------------------------------------------------
 * Defines bundled options/command line interface required
 * to run a new module, without need to touch main pipeline.
 */

params{
	newModuleConfigs = [
	// define a new module like below,
	// Interface of input:
	// 			${input} is basecalled input,
	//			${genome} is reference genome
	// New tool 1:
	  [
		name      : 'MegalodonNew1',
		container : 'liuyangzzu/nanome:v1.3',
		version   : '5.0',
		cmd       : '''
			## Download Rerio model
			git clone https://github.com/nanoporetech/rerio
			rerio/download_model.py rerio/basecall_models/res_dna_r941_min_modbases_5mC_v001

			## Megalodon calling
			megalodon     ${input}   --overwrite  \
				--mod-motif m CG 0   --outputs per_read_mods mods per_read_refs\
				--mod-output-formats bedmethyl wiggle \
				--write-mods-text --write-mod-log-probs\
				--guppy-server-path $(which guppy_basecall_server) \
				--guppy-config res_dna_r941_min_modbases_5mC_v001.cfg  \
				--guppy-params "-d ./rerio/basecall_models/" \
				--guppy-timeout 300 \
				--reference ${genome} \
				--processes 2
		''',
		output	 : 'megalodon_results/per_read_modified_base_calls.txt',
		outputHeader 			: true,
		outputOrder 			: [0,1,3,2],
		outputScoreCols			: [4,5],
		logScore				: true,
	  ],
	// New tool 2:
	  [
		name      : 'MegalodonNew2',
		container : 'liuyangzzu/nanome:v1.3',
		version   : '5.1',
		cmd       : '''
			## Download Rerio model
			git clone https://github.com/nanoporetech/rerio
			rerio/download_model.py rerio/basecall_models/res_dna_r941_min_modbases_5mC_v001

			## Megalodon calling
			megalodon     ${input}   --overwrite  \
				--mod-motif m CG 0   --outputs per_read_mods mods per_read_refs\
				--mod-output-formats bedmethyl wiggle \
				--write-mods-text --write-mod-log-probs\
				--guppy-server-path $(which guppy_basecall_server) \
				--guppy-config res_dna_r941_min_modbases_5mC_v001.cfg  \
				--guppy-params "-d ./rerio/basecall_models/" \
				--guppy-timeout 300 \
				--reference ${genome} \
				--processes 2
		''',
		output	 				: 'megalodon_results/per_read_modified_base_calls.txt',
		outputHeader 			: true,
		outputOrder 			: [0,1,3,2],
		outputScoreCols			: [4,5],
		logScore				: true,
	  ],
	]
}