/*
 * -------------------------------------------------
 *  Nextflow config file for adding new modules
 * -------------------------------------------------
 * Defines bundled options/command line interface required
 * to run a new module, without need to touch main pipeline.
 */

params{
	// define a new module like below,
	// Interface of inputs for tools:
	// 			${input} is basecalled input,
	//			${genome} is reference genome
	newModuleConfigs = [
	// New tool 1:
	  [
		name      : 'MegalodonRemora',
		container_docker : 'liuyangzzu/nanome:v1.4',
		container_singularity : 'docker://liuyangzzu/nanome:v1.4',
		version   : '0.1.2',
		cmd       : '''
			## Run Remora model
			megalodon ${input} --overwrite\
				--guppy-config dna_r9.4.1_450bps_fast.cfg\
				--remora-modified-bases dna_r9.4.1_e8 fast 0.0.0 5mc CG 0\
				--outputs mod_mappings mods per_read_mods\
				--guppy-server-path $(which guppy_basecall_server) \
				--reference ${genome}\
				--processes 2 \
				--mod-output-formats bedmethyl wiggle \
				--write-mods-text --write-mod-log-probs
		''',
		output	 : 'megalodon_results/per_read_modified_base_calls.txt',  //output file name
		outputHeader 			: true, // if output contain header
		outputOrder 			: [0,1,3,2], // output columns index for: READID, CHR, POS, STRAND
		outputScoreCols			: [4,5], // output of scores, meth_score and unmeth_score
		logScore				: true,  // if output score is log-transformed values
	  ],
	]
}
