# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
/.idea/
*.iml
.idea/workspace.xml
Rplots.pdf
plots/*.png
*.pdf
out
gen
src/nanocompare/.DS_Store
/figures/
/result/
work
.nextflow*
nextflow
.ipynb_checkpoints
src/nanocompare/meth_stats
src/nanocompare/methcall
/script/
/test/

## maintained by ly
