# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
/.idea/
*.iml
.idea/workspace.xml
Rplots.pdf
plots/*.png
out
gen
src/nanocompare/.DS_Store
/figures/
/result/
/plots/
/log/
/debug/
work
/outputs/
hello.nf
.nextflow*
nextflow
.ipynb_checkpoints
src/nanocompare/meth_stats
src/nanocompare/methcall
/script/
/test/
inputs/na12878
.Rhistory
dag.dot*
report.html*
timeline.html*
trace.txt*
do_build_docker.sh
src/nanocompare/__pycache__/
__pycache__/
benchmark_hpc_sumner.sh
ci_hpc_sumner.sh
ecoli_hpc_sumner.sh
.DS_Store
docs/.DS_Store
src/nanocompare/report/.DS_Store
src/nanocompare/report/icons/.DS_Store
testdemo.py
## maintained by ly

/ci_google_cloud.sh
/ci_hpc_winter.sh
/pull_nanome_images.sh
/ci_git_test.sh
/sumner_test.sh
/testpy.py
/winter_test.sh
