# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
/.idea/
*.iml
.idea/workspace.xml
Rplots.pdf
out
gen
/figures/
/result/
/plots/
/log/
/debug/
/work/
/outputs/
hello.nf
.nextflow*
nextflow
.ipynb_checkpoints
/script/
/test_script/
inputs/na12878
.Rhistory
dag.dot*
report.html*
timeline.html*
trace.txt*
__pycache__/
.DS_Store
docs/.DS_Store
testdemo.py
## maintained by ly

/local_singularity_cache/
/data/
/NANOME_trace/
/nanome_results/
/nanome_cache_dir/
/nanome_temp_dir/
/script_paper/
/tests/test_import_deepmod.py
/results/
/jupyter_codes/
/xgboost_model/
/dist/
/*.egg-info/
/related_project/
*.swp
/result_paper/
/src/nanome/xgboost/sanity/
/hpc_test/
