params {
    dsname = 'DEMODATA'
    indir = 'test_data/demo.fast5.reads.tar.gz'
    ntask = 10

	/* TODO: check why this is not parsed*/
    analysisPrefix='${dsname}-N${ntask}'

    isGPU = 'yes'
    processors = 8

    correctedGroup="RawGenomeCorrected_000"
    refGenome="/projects/li-lab/reference/hg38/hg38.fasta"

    deepsignalModel="/projects/li-lab/yang/workspace/nano-compare/data/dl-model/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+/bn_17.sn_360.epoch_9.ckpt"
    guppy.basecall='/projects/li-lab/software/ont-guppy-gpu_4.2.2/bin/guppy_basecaller'
}

