/*
 * -------------------------------------------------
 *  Nextflow config file for benchmarking
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params{ // redefine resource usage for benchmarking
	cleanCache = false
	errorStrategy = 'ignore'

	processors = 8

	jobMaxTime = '06:00:00'
	jobMaxMem = '180GB'
}

// We need redecalare process resource allocation, due to it can not override hpc profile
process {
	errorStrategy = params.errorStrategy
	clusterOptions = "-q ${params.qosName} -n ${params.processors}  ${params.gresGPUOptions == false ? ' ' : params.gresGPUOptions} --time=${params.jobMaxTime} --mem=${params.jobMaxMem}"
	//config long time tasks exceptions on hpc using long time qos
	withName: 'DeepSignal|DeepMod' {
		clusterOptions = "-q training -n ${params.processors}  ${params.gresGPUOptions == false ? ' ' : params.gresGPUOptions} --time=14-00:00:00 --mem=${params.jobMaxMem}"
	}
}
