/*
 * -------------------------------------------------
 *  Nextflow default input from google cloud platform (GCP)
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 *
 */

params{
	processors = 8
	nanome_input_dir="gs://jax-nanopore-01-project-data/nanome-input"
	deepmod_ctar = "${nanome_input_dir}/C.tar.gz"
	genome_annotation = "${nanome_input_dir}/genome-annotation.tar.gz"
	reference_genome = "${nanome_input_dir}/reference_genome.tar.gz"
	deepsignal_model_tar = "${nanome_input_dir}/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7%2B.tar.gz"
	megalodon_model_tar = "${nanome_input_dir}/megalodon_model.tar.gz"
}
