/*
 * -------------------------------------------------
 *  Nextflow default input from Google Cloud Storage
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 *
 */

params{
	// Base dir in GCP
	nanome_input_dir="https://storage.googleapis.com/jax-nanopore-01-project-data/nanome-input"

	// Input files
	deepmod_ctar = "${nanome_input_dir}/C.tar.gz"
	genome_annotation = "${nanome_input_dir}/genome-annotation.tar.gz"
	deepsignal_model_tar = "${nanome_input_dir}/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7%2B.tar.gz"

	genome = "hg38"
	genome_map = [	'hg38': 		"${nanome_input_dir}/hg38.tar.gz",
					'hg38_chr22': 	"${nanome_input_dir}/hg38_chr22.tar.gz",
					'ecoli': 		"${nanome_input_dir}/ecoli.tar.gz"  ]
}
