/*
 * -------------------------------------------------
 *  Nextflow default input from JAX HPC clusters
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 *
 */

params {
	// Base dir in JAX HPC
	nanome_input_dir="/projects/li-lab/Nanopore_compare/nf_input"
	// Input files
	genome = "hg38"
	deepmod_ctar = "${nanome_input_dir}/C"
	deepsignalDir = "${nanome_input_dir}/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+"

	genome_map = [	'hg38': 		"${nanome_input_dir}/reference_genome/hg38",
					'hg38_chr22': 	"${nanome_input_dir}/hg38_chr22.tar.gz",
					'ecoli': 		"${nanome_input_dir}/ecoli.tar.gz"]

	cleanCache = false
}
