/*
 * -------------------------------------------------
 *  Nextflow default input from JAX HPC clusters
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 *
 */

params {
	// Base dir in JAX HPC
	HPC_INPUT="/projects/li-lab/Nanopore_compare/nf_input"

	// Input files
	DEEPMOD_CFILE = "${HPC_INPUT}/C"
	DEEPSIGNAL_MODEL_DIR = 'model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+'
	deepsignalDir = "${HPC_INPUT}/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+.tar.gz"

	genome = "hg38"
	genome_map = [	'hg38': 		"${HPC_INPUT}/reference_genome/hg38",
					'hg38_chr22': 	"${HPC_INPUT}/hg38_chr22.tar.gz",
					'ecoli': 		"${HPC_INPUT}/ecoli.tar.gz"]
}
