/*
 * -------------------------------------------------
 *  Nextflow default input from JAX HPC clusters
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 *
 */

params {
	nanome_input_dir="/projects/li-lab/Nanopore_compare/nf_input"
	deepmod_ctar = "/projects/li-lab/Nanopore_compare/nf_input/C"
	genome_annotation = "/projects/li-lab/Nanopore_compare/nf_input/genome-annotation.tar.gz"
	reference_genome = '/projects/li-lab/Nanopore_compare/nf_input/reference_genome'
	deepsignal_model_tar = "/projects/li-lab/Nanopore_compare/nf_input/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+.tar.gz"
	megalodon_model_tar = "/projects/li-lab/Nanopore_compare/nf_input/megalodon_model.tar.gz"
	cleanCache = false
}
