/*
 * -------------------------------------------------
 *  Nextflow config for running on Lifebit CloudOS
 * -------------------------------------------------
 * Defines bundled configurations for process running
 * on Lifebit CloudOS
 */

google {
	zone = params.zone
	// region = params.googleRegion
	// location = params.googleLocation
	network = params.network
	subnetwork = params.subnetwork
	lifeSciences.bootDiskSize = params.gls_bootDiskSize
	lifeSciences.preemptible = true
	lifeSciences.debug = true
	lifeSciences.sshDaemon = true
}

docker{
	enabled = true
	runOptions = params.containerOptions
	envWhitelist = 'CUDA_VISIBLE_DEVICES' // Ref: https://www.nextflow.io/docs/latest/config.html#scope-docker
}

executor {
    name = 'google-lifesciences'
}

includeConfig '../examples/ci.config'

process {
	container = params.docker_name
	machineType = params.machineType
	disk = params.midDiskSize
	maxRetries = params.maxRetries

	echo = params.echo
	errorStrategy = { task.attempt == process.maxRetries ? 'ignore' : task.exitStatus in [3,9,10,14,143,137,104,134,139] ? 'retry' : 'ignore' }

	withName: 'EnvCheck|Basecall|Guppy|Megalodon' { // allocate gpu
		accelerator = [request: params.n_accelerators, type: params.accelerator ]
		beforeScript = "export CUDA_VISIBLE_DEVICES=0" // pass CUDA var to process, since GCP do not export it
	}

	withName: 'Megalodon|Resquiggle|DeepSignal|DeepMod' { // allocate highmem machine type
		machineType = params.highmemMachineType
	}

	withName: 'Untar|Basecall|Guppy|Resquiggle' { // allocate high disk size
		disk = params.highDiskSize
	}
}
