/*
 * -------------------------------------------------
 *  Nextflow default input from USC CARC HPC
 * -------------------------------------------------
 * Defines bundled specific input data from USC CARC HPC
 *
 */
params{
	max_cpus = 16
	max_memory = 128.GB

	gpu_queue = 'gpu'
	// gpu_qos = null
	gpu_processors = 4
	gpu_memory = '64.GB'
	gpu_time = '2.d'
	gpu_gresOptions = 'gpu:a100:1'

	cpu_queue = 'main'
	// cpu_qos = null
	cpu_processors = 8
	cpu_memory = '128.GB'
	cpu_time = '2.d'

	queueSize = 24
	// used for singularity identify both file systems
	containerOptions = '--nv -B /project/sli68423_1316 -B /scratch1/yliu8962'
}

process{
	executor = "slurm"
	// module = "slurm:singularity"
	containerOptions = params.containerOptions

	withName: 'UNTAR|ALIGNMENT|QCEXPORT|RESQUIGGLE|NANOPOLISH|Tombo|Guppy6Comb|METEORE|CLAIR3|PHASING|CONSENSUS|EVAL|REPORT|NPLSHCOMB|MGLDNCOMB|DPSIGCOMB|DEEPSIGNAL2COMB|GuppyComb|TomboComb|DpmodComb|Guppy6Comb' {
		queue = params.cpu_queue
		cpus = params.cpu_processors
		memory = params.cpu_memory
		time = params.cpu_time
	}

	withName: 'ENVCHECK|BASECALL|MEGALODON|Guppy6|Guppy|DEEPSIGNAL|DEEPSIGNAL2|DeepMod|METEORE|DORADO_CALL' {
		queue = params.gpu_queue
		cpus = params.gpu_processors
		memory = params.gpu_memory
		time = params.gpu_time
		clusterOptions = " ${params.gpu_gresOptions  ? '--gres=' + params.gpu_gresOptions : '  '}"
	}
}

executor {
	queueSize = params.queueSize
}
