/*
 * -------------------------------------------------
 *  Nextflow input params on ZENODO storage
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 * Usage: -config conf/zenodo_params.config
 */

params{
	// Input used by pipeline, located in zenodo,
	// such as https://zenodo.org/record/5513090
	zenodoNumber="5513090"
	nanome_input_dir="https://zenodo.org/record/${zenodoNumber}/files"

	deepmod_ctar = "${nanome_input_dir}/C.tar.gz"
	genome_annotation = "${nanome_input_dir}/genome-annotation.tar.gz"
	reference_genome = "${nanome_input_dir}/reference_genome.tar.gz"
	deepsignal_model_tar = "${nanome_input_dir}/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7%2B.tar.gz"
	megalodon_model_tar = "${nanome_input_dir}/megalodon_model.tar.gz"
}
