/*
 * -------------------------------------------------
 *  Nextflow input params on ZENODO storage
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 * Usage: -config conf/zenodo_params.config
 */

params{
	// Input used by pipeline, located in zenodo,
	// such as https://zenodo.org/record/5513090
	zenodoNumber="5706494"
	ZENODO_INPUT="https://zenodo.org/record/${zenodoNumber}/files"

	// Input files
	DEEPMOD_CFILE = "${ZENODO_INPUT}/C.tar.gz"
	DEEPSIGNAL_MODEL_DIR = 'model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+'
	DEEPSIGNAL_MODEL_ONLINE = "${ZENODO_INPUT}/${DEEPSIGNAL_MODEL_DIR}.tar.gz"

	genome = "hg38"
	genome_map = [	'hg38': 		"${ZENODO_INPUT}/hg38.tar.gz",
					'hg38_chr22': 	"${ZENODO_INPUT}/hg38_chr22.tar.gz",
					'ecoli': 		"${ZENODO_INPUT}/ecoli.tar.gz"]
}
