/*
 * -------------------------------------------------
 *  Nextflow config file for running benchmarking
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// For Methylation calling params
    dsname = 'BENCHDATA'
//    input = "/projects/li-lab/yang/results/2021-04-15/benchmarking.fast5.tar.gz"
    input = "/projects/li-lab/yang/results/2021-04-17/benchmarking8000-data.tar.gz"
    isfile = true

	analysisPrefix="${dsname}"

	// Running steps
    benchmarking=true
    eval=false
}