/*
 * -------------------------------------------------
 *  Nextflow config file for running benchmarking
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// input params
    dsname = 'BENCHDATA'
    runid = "BENCHDATA_RRBS"
    //input = '/projects/li-lab/yang/results/2021-04-15/BenchData/MB*'
    input = "/projects/li-lab/yang/results/2021-04-15/BenchData8000/MB*K"
    isfile = true

	analysisPrefix="${dsname}"
    is_benchmarking=true
    eval=false
    is_debugging=false
}