/*
 * -------------------------------------------------
 *  Nextflow config file for CI human test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params{
	dsname = 'EcoliDemo'
    input = 'https://zenodo.org/record/5513090/files/ecoli_fast5_test.tar.gz'

	dataType = "ecoli"
    reference_genome = 'https://zenodo.org/record/5513090/files/ecoli.tar.gz'
    chrSet = "NC_000913.3"
    moveOption = false

    processors = 2
    cleanCache = false
}
