/*
 * -------------------------------------------------
 *  Nextflow config file for CI test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params{
    dsname = 'EcoliDemo'
    input = 'https://zenodo.org/record/5483859/files/ecoli_fast5_test.tar.gz'

	dataType = "ecoli"
    reference_genome_tar = 'https://zenodo.org/record/5483859/files/ecoli.tar.gz'
    chrSet = "NC_000913.3"

    commandType = 'cpu'
    processors = 2
    cleanCache = false
}