/*
 * -------------------------------------------------
 *  Nextflow config file for CI test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params{
    dsname = 'CIHuman'
    input = 'https://github.com/liuyangzzu/nano-compare/raw/master/test_data/demo2.fast5.reads.tar.gz'

	// chr22 of hg38 as reference genome
    reference_genome = 'https://zenodo.org/record/5510670/files/hg38_chr22.tar.gz'
    refGenomePath = 'hg38_chr22/hg38_chr22.fasta'
    chromSizesPath = 'hg38_chr22/hg38_chr22.chrom.sizes'

    useDeepModCluster = false

    GUPPY_TIMEOUT = 150

    processors = 2
    cleanCache = false
}
