/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 Tested commands:
 ./nextflow run main.nf -profile winter \
    -work-dir /fastscratch/liuya/nanocompare/work \
    --input /fastscratch/c-panz/ecoli_meteore.tar.gz \
    --dsname ECOLI_METROPAPER \
    --referenceGenome reference_genome/ecoli/Ecoli_k12_mg1655.fasta \
    --chromSizesFile reference_genome/ecoli/Ecoli_k12_mg1655.fasta.genome.sizes

 */

params {
	input="/fastscratch/c-panz/ecoli_meteore.tar.gz"
	dsname="ECOLI_METROPAPER"
	referenceGenome="reference_genome/ecoli/Ecoli_k12_mg1655.fasta"
	chromSizesFile="reference_genome/ecoli/Ecoli_k12_mg1655.fasta.genome.sizes"
	DeepModMoveOptions=""  // for ecoli, guppy basecall results is in events dir, not move dir
	DeepModSumChrSet="NC_000913.3" // ecoli chromosome
}

