/*
 * -------------------------------------------------
 *  Nextflow config file for running on E. coli data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	input = 'https://zenodo.org/record/5483859/files/ecoli_data_from_meteore.tar.gz'
	dsname = "EcoliDemo"

	// E. coli reference genome
	dataType = "ecoli" // human or ecoli
	reference_genome = "https://zenodo.org/record/5483859/files/ecoli.tar.gz"
	chrSet = "NC_000913.3" // ecoli chromosome name
	moveOption = false
}
