/*
 * -------------------------------------------------
 *  Nextflow config file for running on E. coli data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

/*
Sample usage:
 ./nextflow run main.nf -profile winter \
    --input /fastscratch/c-panz/ecoli_meteore.tar.gz \
    --dsname EcoliDemo \
    --referenceGenome reference_genome/ecoli/Ecoli_k12_mg1655.fasta \
    --chromSizesFile reference_genome/ecoli/Ecoli_k12_mg1655.fasta.genome.sizes
*/

params {
	input="/fastscratch/c-panz/ecoli_meteore.tar.gz"
	dsname="EcoliDemo"
	referenceGenome="reference_genome/ecoli/Ecoli_k12_mg1655.fasta"
	chromSizesFile="reference_genome/ecoli/Ecoli_k12_mg1655.fasta.genome.sizes"
	DeepModMoveOptions=""  // for ecoli, guppy basecall results is in events dir, not move dir
	DeepModSumChrSet="NC_000913.3" // ecoli chromosome name
}

