/*
 * -------------------------------------------------
 *  Nextflow config file for running on E. coli data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	input="/projects/li-lab/Nanopore_compare/suppdata/ecoli-sanity-check/ecoli_meteore.tar.gz"
	dsname="EcoliDemo"

	// E. coli reference genome
	dataType="ecoli" // human or ecoli
	referenceGenome="reference_genome/ecoli/Ecoli_k12_mg1655.fasta"
	chromSizesFile="reference_genome/ecoli/Ecoli_k12_mg1655.fasta.genome.sizes"

	// E. coli is basecalled from downloaded fast5, we need to clean previous analysis
	cleanAnalyses=true // clean previous basecalled analyses name

	// DeepMod configurations
	DeepModSumChrSet="NC_000913.3" // ecoli chromosome name
}

