/*
 * -------------------------------------------------
 *  Nextflow input from google cloud platform
 * -------------------------------------------------
 * Defines bundled specific input data from google cloud platform.
 *
 */

params{
	nanomeInputDir="gs://jax-nanopore-01-project-data/nanome-input"

	deepmod_ctar = "${nanomeInputDir}/C.tar.gz"
	genome_annotation_tar = "${nanomeInputDir}/genome-annotation.tar.gz"
	reference_genome_tar = "${nanomeInputDir}/reference_genome.tar.gz"
	deepsignel_model_tar = "${nanomeInputDir}/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7%2B.tar.gz"
	megalodon_model_tar = "${nanomeInputDir}/megalodon_model.tar.gz"
}