profiles {
    process.cache = 'lenient'
    gls {
        executor {
            name = 'google-lifesciences'
            queueSize = 50
        }
        docker {
            enabled = true
            temp = 'auto'
        }
        google.project = 'jax-nanopore-01'
        google.zone = 'us-east1-c'
        google.location = 'us' // 'us'
        google.region  = 'us-east1'    // 'us-east1'
        google.lifeSciences.debug = true
        google.lifeSciences.preemptible = true
        google.lifeSciences.usePrivateAddress = false
        google.lifeSciences.sshDaemon = true
        google.lifeSciences.bootDiskSize = 50.GB
        google.enableRequesterPaysBuckets = true
        google.lifeSciences.network = 'default'
        google.lifeSciences.subnetwork = 'default'

        // For gpu, use  accelerator 4, type: 'nvidia-tesla-k80'
        process {
            container = 'us.gcr.io/jax-nanopore-01/nanome:v1.0'
            maxRetries = 3

			// Instance Types; https://cloud.google.com/compute/vm-instance-pricing#n1_predefined
            withLabel: mock {
                machineType = 'n1-standard-1'
            }

            withLabel: test {
                machineType = 'n1-standard-1'
            }

            withLabel: mytest {
                disk = "10GB"
                machineType = 'n1-standard-1'
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            }
        }
    }
}