docker.enabled = true

params {
  executor = 'google-lifesciences'
}

google {
    lifeSciences.bootDiskSize = params.gls_bootDiskSize
    lifeSciences.preemptible = params.gls_preemptible
    zone = params.zone
    network = params.network
    subnetwork = params.subnetwork
}

process {
  withName: Basecall {
    machineType = 'nvidia-tesla-p100'
  }
}
