params {
  executor = 'google-lifesciences'
}

google {
    lifeSciences.bootDiskSize = params.gls_bootDiskSize
    lifeSciences.preemptible = params.gls_preemptible
    zone = params.zone
    network = params.network
    subnetwork = params.subnetwork
    lifeSciences.usePrivateAddress = params.gls_usePrivateAddress
    google.lifeSciences.sshDaemon = params.gls_sshDaemon
}