docker.enabled = true

params {
	executor = 'google-lifesciences'
}

google {
	lifeSciences.bootDiskSize = params.gls_bootDiskSize
	lifeSciences.preemptible = params.gls_preemptible
	zone = params.zone
	network = params.network
	subnetwork = params.subnetwork
}

process {
	container = "quay.io/lifebitai/nanome:shebang-cuda"
	echo = params.echo
	cpus = params.resquiggle_cpus
	memory =  params.resquiggle_memory

  	withLabel: with_gpus {
		echo = params.echo
		cpus = params.with_gpus_process_cpus
		memory =  params.with_gpus_process_memory
		container = "quay.io/lifebitai/nanome:shebang-cuda"
		containerOptions = params.containerOptions
		accelerator = [request: params.n_accelerators, type: params.accelerator ]
		params.GuppyGPUOptions="--gpu_runners_per_device 16 --device auto"
		params.GuppyNumCallers=16
		params.megalodonGPUOptions="--devices 0"
		params.DeepSignal_isgpu = 'yes'
	}

	withName: Resquiggle {
		cpus = params.resquiggle_cpus
		memory =  params.resquiggle_memory
	}

	withName: Tombo { // using same configuration with resquiggle, to test errors for tombo killed by CloudOS
		cpus = params.resquiggle_cpus
		memory =  params.resquiggle_memory
	}
}
