/*
 * -------------------------------------------------
 *  Nextflow config file for JAX HPC
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// DeepSignal model specifications
	// From ref: https://github.com/bioinfomaticsCSU/deepsignal#trained-models
	deepsignalModel="/projects/li-lab/yang/workspace/nano-compare/data/dl-model/model.CpG.R9.4_1D.human_hx1.bn17.sn360.v0.1.7+"
	
	// Reference genome specifications
	refGenome="/projects/li-lab/reference/hg38/hg38.fasta"

	// Used in DeepMod cluster model
	genomeMotifC="/projects/li-lab/yang/workspace/nano-compare/data/genome_motif/C"
	
	processors = 8
}
