/*
 * -------------------------------------------------
 *  Nextflow config for running on Lifebit CloudOS
 * -------------------------------------------------
 * Defines bundled configurations for process running
 * on Lifebit CloudOS
 */

google {
	lifeSciences.bootDiskSize = params.gls_bootDiskSize
	lifeSciences.preemptible = params.gls_preemptible
	lifeSciences.debug = true
	lifeSciences.sshDaemon = true
	zone = params.zone
	network = params.network
	subnetwork = params.subnetwork
}

docker.enabled = true

executor {
    name = 'google-lifesciences'
}

includeConfig 'ci.config'

//params {
//	// processors = 4
//}

process {
	container = params.docker_name
	
	cpus = params.cpu_process_cpus
	memory =  params.cpu_process_memory
	disk = params.midDiskSize
	
	echo = params.echo
	maxRetries = params.maxRetries
	errorStrategy = { task.attempt == process.maxRetries ? 'ignore' : task.exitStatus in [3,9,10,14,143,137,104,134,139] ? 'retry' : 'ignore' }

	withName: 'EnvCheck|Basecall|Guppy|Megalodon' { // allocate gpu
		containerOptions = params.containerOptions

		cpus = params.with_gpus_process_cpus
		memory =  params.with_gpus_process_memory
		accelerator = [request: params.n_accelerators, type: params.accelerator ]
		beforeScript = "export CUDA_VISIBLE_DEVICES=0"
	}

	withName: 'Untar|Basecall|Guppy|Resquiggle' { // allocate high disk size
		disk = params.highDiskSize
	}
}
