docker.enabled = true

params {
    executor = 'local'
}

process {
    // the general container for all processes apart from the ones explicitly defined with withName (see below)
    container = 'lifebitai/nano-compare'
    
    withName: 'Basecall' {
        container = 'genomicpariscentre/guppy:4.2.2'
    }
}