/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// For Methylation calling params
	dsname = 'NA12878'
//    input = 'http://s3.amazonaws.com/nanopore-human-wgs/rel3-fast5-chr20.part05.tar'
    input_fast5_tar = 'http://s3.amazonaws.com/nanopore-human-wgs/rel3-fast5-chr20.part04.tar'
    analysisPrefix="${dsname}"
    online = true

	// Running steps
    eval=false
    benchmarking=false
    test=false
}

