/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.

NA12878 dataset:
https://github.com/nanopore-wgs-consortium/NA12878/blob/master/nanopore-human-genome/rel_3_4.md#fast5-signal-level-files
 */

params {
	// For Methylation calling params
	dsname = 'NA12878'
//    input = 'http://s3.amazonaws.com/nanopore-human-wgs/rel3-fast5-chr20.part05.tar'
    input = 'https://github.com/liuyangzzu/nano-compare/raw/6684b71587c19d191ccf87832f25536be10e372f/test_data/demo.fast5.reads.tar.gz'

    online = true

	analysisPrefix="${dsname}" //TODO: how to assign to this var after input????
	// Running steps
    eval=false
    benchmarking=false
    test=false
}

