/*
 * -------------------------------------------------
 *  Nextflow config file for running NA12878
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// Methylation calling params
	dsname = 'NA12878CHR20'
	input = 'inputs/NA12878CHR20_2.filelist.txt'

	// For evaluation/analysis configurations
	eval=false // true if running evaluation steps

	// NA12878 is basecalled from downloaded fast5, we need to clean previous analysis
	cleanAnalyses=true // clean previous basecalled analyses name
}

