/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.

NA19240 R9.4.1
There are five tar.gz files
File list is:
ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR304/ERR3046934/20180413_NA19240_run0.tar.gz
ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR304/ERR3046935/20180504_NA19240_run_1.tar.gz
ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR304/ERR3046936/20180504_NA19240_run_2_NF.tar.gz
ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR304/ERR3046937/20180508_NA19240_run_3.tar.gz
ftp://ftp.sra.ebi.ac.uk/vol1/run/ERR304/ERR3046938/20180517_NA19240_run_4.tar.gz
*/

params {
	// For Methylation calling params
	dsname = 'NA19240'

    input = 'https://github.com/liuyangzzu/nano-compare/raw/6684b71587c19d191ccf87832f25536be10e372f/test_data/demo.fast5.reads.tar.gz'

    online = true

	analysisPrefix="${dsname}"
	// Running steps
    eval=false
    benchmarking=false
    test=false
}

