/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// Methylation calling params
	dsname = 'TestData'
	input = 'https://github.com/liuyangzzu/nano-compare/raw/master/test_data/demo.fast5.reads.tar.gz'

	// For evaluation/analysis configurations
	eval=true // true if running evaluation steps
	runid = "TestData_RRBS" // performance results prefix

	// BS-seq data and encode
	bgtruthWithEncode="bismark:/projects/li-lab/Nanopore_compare/data/NA19240/NA19240_RRBS_ENCFF000LZS_rep1.Read_R1.Rep_1_trimmed_bismark_bt2.CpG_report.txt.gz;/projects/li-lab/Nanopore_compare/data/NA19240/NA19240_RRBS_ENCFF000LZT_rep2.Read_R1.Rep_2_trimmed_bismark_bt2.CpG_report.txt.gz"
	bgtruth_cov=1 // BS-seq coverage cutoff
	tool_cov=1 // methylation calling tools' read coverage cutoff
}

