/*
 * -------------------------------------------------
 *  Nextflow config file for tools gpu specific options
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

 params {
	// Below is the gpu specific options for tools
	GuppyGPUOptions="--gpu_runners_per_device 16 --device auto"
	GuppyNumCallers=16
	//DeepSignal gpu config
	DeepSignal_isgpu = 'yes'
	 //Megalodon gpu config
	megalodonGPUOptions="--devices 0"
}