/*
 * -------------------------------------------------
 *  Nextflow config file for tools cpu specific options
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// Below is the gpu specific options for tools
	GuppyGPUOptions="--cpu_threads_per_caller 16"
	GuppyNumCallers=16
	//DeepSignal cpu config
	DeepSignal_isgpu = 'no'
	//Megalodon cpu config
	megalodonGPUOptions=""
}