/*
 * -------------------------------------------------
 *  Nextflow config file for tools gpu specific options
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

 params {
	// Below is the gpu specific options for tools
	GuppyGPUOptions="--gpu_runners_per_device 32 --device auto"
	GuppyNumCallers=32
	//DeepSignal gpu config, save costs
	DeepSignal_isgpu = 'no'
	 //Megalodon gpu config
	megalodonGPUOptions="--devices 0 1"
}