/*
 * -------------------------------------------------
 *  Nextflow config file for tools gpu specific options
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

 params {
	// Below is the gpu specific options for tools
	GuppyGPUOptions="--gpu_runners_per_device ${params.processors * 2}  --device auto"
	GuppyNumCallers= processors * 2
	//DeepSignal gpu config, save costs
	DeepSignal_isgpu = 'no'
	 //Megalodon gpu config
	megalodonGPUOptions="--devices 0"
}