/*
 * -------------------------------------------------
 *  Nextflow config file for CI human test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params{
	dsname = 'CIEcoli'
    input = 'https://github.com/TheJacksonLaboratory/nanome/raw/master/test_data/ecoli_ci_test_fast5.tar.gz'

	dataType = "ecoli"
    genome = 'https://zenodo.org/record/5513090/files/ecoli.tar.gz'
    chrSet = "NC_000913.3"
    moveOption = false

    processors = 2
    cleanCache = false
}
