/*
 * -------------------------------------------------
 *  Nextflow config file for CI test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params{
    dsname = 'CIHuman'
    input = 'https://github.com/TheJacksonLaboratory/nanome/raw/master/test_data/human_ci_test_fast5.tar.gz'

	// chr22 of hg38 as reference genome
	dataType = "human"
    reference_genome = 'https://zenodo.org/record/5513090/files/hg38_chr22.tar.gz'
    refGenomePath = 'hg38_chr22/hg38_chr22.fasta'
    chromSizesPath = 'hg38_chr22/hg38_chr22.chrom.sizes'

    useDeepModCluster = false
    moveOption = true
	chrSet = true

    GUPPY_TIMEOUT = 150

    processors = 2
    cleanCache = false
}
