/*
 * -------------------------------------------------
 *  Nextflow config file for running on E. coli data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	input = 'https://zenodo.org/record/5513090/files/ecoli_data_from_meteore.tar.gz'
	dsname = "EcoliDemo"
	// E. coli reference genome
	genome = "ecoli"

	moveOption = false
}
