/*
 * -------------------------------------------------
 *  Nextflow config file for running on E. coli data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	input = 'https://storage.googleapis.com/jax-nanopore-01-project-data/nanome-input/ecoli_data_from_meteore.tar.gz'
	dsname = "EcoliDemo"
	// E. coli reference genome
	genome = "ecoli"

	moveOption = false
}
