/*
 * -------------------------------------------------
 *  Nextflow config file for running tests data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	input = 'https://storage.googleapis.com/jax-nanopore-01-project-data/nanome-input/demo1_fast5_reads.tar.gz'
	dsname = 'TestData'
	genome = "hg38"
}
