/*
 * -------------------------------------------------
 *  Nextflow config file for CI human test case for Dorado
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *    nextflow run LabShengLi/nanome -profile test_dorado,<docker/singularity>
 */

params{
	dsname = 'CIEcoli'
    input = 'https://github.com/LabShengLi/nanome/raw/rev5/test_data/fast5_ecoli_v2.tar.gz'
    genome = 'ecoli'

    dorado = true
    dorado_basecall_model = 'dna_r9.4.1_e8_fast@v3.4'
    dorado_methcall_model = 'dna_r9.4.1_e8_fast@v3.4_5mCG@v0.1'

    // processors = 2
    // maxRetries = 5
    // errorStrategy = 'ignore'
}

process {
	cpus = null
	memory = null
	time = null
	maxRetries = params.maxRetries

	withName: 'ENVCHECK' {
		// allow retry if download files failed
		errorStrategy = {task.attempt >= process.maxRetries ? params.errorStrategy :  'retry' }
	}
}
