/*
 * -------------------------------------------------
 *  Nextflow config file for CI test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *    nextflow run LabShengLi/nanome -profile test_human,<docker/singularity>
 */

params{
    dsname = 'CIHuman'
    input = 'https://github.com/LabShengLi/nanome/raw/master/test_data/human_ci_test_fast5.tar.gz'
	// chr22 of hg38 as reference genome
    genome = 'hg38_chr22'

	chrSet = 'chr22'
    // GUPPY_TIMEOUT = 500
    // processors = 2
    // maxRetries = 5
    // errorStrategy = 'ignore'
}

process {
	cpus = null
	memory = null
	time = null
	maxRetries = params.maxRetries

	withName: 'ENVCHECK' {
		// allow retry if download Rerio model failed
		errorStrategy = {task.attempt >= process.maxRetries ? params.errorStrategy :  'retry' }
	}
}
