/*
 * -------------------------------------------------
 *  Nextflow config file for CI human test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *    nextflow run TheJacksonLaboratory/nanome -profile test,<docker/singularity>
 */

params{
	dsname = 'CIEcoli'
    input = 'https://github.com/TheJacksonLaboratory/nanome/raw/master/test_data/ecoli_ci_test_fast5.tar.gz'
    genome = 'ecoli'

    useDeepModCluster = false
    moveOption = false

    processors = 2
}

process {
	cpus = 2
	memory = '8GB'
	time = '1h'
}
