/*
 * -------------------------------------------------
 *  Nextflow config file for running tests data
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
	// Methylation calling params
	input = 'https://raw.githubusercontent.com/TheJacksonLaboratory/nanome/master/inputs/test.demo.filelist.txt'
	dsname = 'TestData'
}
