/*
 * -------------------------------------------------
 *  Nextflow config file for CI human test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *    nextflow run heJacksonLaboratory/nanome -profile test,<docker/singularity>
 */

params{
	dsname = 'CIEcoli'
    input = 'https://github.com/TheJacksonLaboratory/nanome/raw/master/test_data/ecoli_ci_test_fast5.tar.gz'

	type = "ecoli"
    genome = 'ecoli'

    chrSet = "NC_000913.3"
    moveOption = false
    useDeepModCluster = false

    processors = 2
    cleanCache = false
}
