/*
 * -------------------------------------------------
 *  Nextflow config file for CI test case
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *    nextflow run heJacksonLaboratory/nanome -profile test_human,<docker/singularity>
 */

params{
    dsname = 'CIHuman'
    input = 'https://github.com/TheJacksonLaboratory/nanome/raw/master/test_data/human_ci_test_fast5.tar.gz'

	// chr22 of hg38 as reference genome
	type = "human"
    genome = 'hg38_chr22'

    useDeepModCluster = false
    moveOption = true
	chrSet = true

    GUPPY_TIMEOUT = 150

    processors = 2
    cleanCache = false
}
